---
layout: default
---
<h1>Всем хай!</h1>
<p>Это сайт <b>группы РЭ</b> специальности &laquo;Радиофизика и электроника&raquo; физического факультета Ярославского Университета им. П.Г.Демидова (ЯрГУ) 2004 года поступления. Здесь ты можешь посмотреть <a href="/re/">на нас</a>, <a href="/media/">медиа</a> (фотографии, видео, звуки и т.п.), <a href="/chronicle/">летопись</a> (даты и блог), <a href="/files/">файлы</a> и <a href="/etc/">т.д.</a> (карта сайта, отзывы, адреса, шум и т.п.).</p>
<div class="post" id="first-1">
  <div class="title">
    <h2><a href="/blog/">Блог</a>: <span class="baby">{{ site.posts | size }} записей</span> и <span class="comment">2,514 комментов</span>.</h2>
  </div>
  <div class="entry">
    <p><a href="/blog/">Блог</a> &mdash; это часть сайта, где каждый может поделиться своими мыслями и чувстами. Место, где одновременно есть и <a href="http://www.regruppa.ru/category/zabavnoe/">забавное</a>, и <a href="http://www.regruppa.ru/category/tvorchestvo/">творческое</a>.</p>
    <p>А для группы РЭ всегда есть текущие <a href="/tag/materialy-dlya-uchyoby-vesnoj-2008">материалы для учёбы</a>.</p>
    <div class="clear">
      <div class="divleft" style="width:280px;">
        <h3>Последние 10 записей</h3>
        <ul>
          <li><a href='/blog/2015/11/20/github.html'>GitHub Pages или теперь сайт работает</a></li>
          <li><a href='/blog/2011/03/04/forever.html'>Сайт — архив</a></li>
          <li><a href='/blog/2009/09/26/re-12-na-dne-fizika-2004.html'>РЭ-12 на Дне физика-2004</a></li>
          <li><a href='/blog/2009/04/24/studvesna-yargu-2009.html'>СтудВесна ЯрГУ 2009</a></li>
          <li><a href='/blog/2009/04/20/u-yandeksa-poyavilas-podrobnaya-karta-yaroslavlya.html'>У Яндекса появилась подробная карта Ярославля</a></li>
          <li><a href='/blog/2009/03/26/informaciya.html'>Информация</a></li>
          <li><a href='/blog/2009/03/14/ty-fizik.html'>Ты физик!</a></li>
          <li><a href='/blog/2009/02/25/nano-song.html'>Нано-песня</a></li>
          <li><a href='/blog/2009/02/13/sdr-on-line.html'>SDR On Line</a></li>
          <li><a href='/blog/2009/02/01/vystuplenie-dasistfak-t-na-kivin-2009.html'>Выступление DasISTfak &#8216;t на КиВиН-2009</a></li>
      </div>
      <div class="divright fifty">
        <div>
          <h3>Последние десять комментов</h3>
          <ul>
            <li><span class="re">chegeras</span> на <a href="/blog/2011/03/04/forever.html#comment-42560">Сайт — архив</a></li>
            <li><span class="re">лика князева</span> на <a href="/blog/2008/02/19/esli-zakryit-dostup-k-saytu-vkontakte.html#comment-41898">Если закрыт доступ к сайту vkontakte</a></li>
            <li><span class="re">NoraGlard</span> на <a href="/blog/2008/04/20/fotoforum-2k8-vpechatleniya.html#comment-30986">ФотоФорум 2к8. Впечатления</a></li>
            <li><span class="re">Юля)))</span> на <a href="/blog/2008/02/19/esli-zakryit-dostup-k-saytu-vkontakte.html#comment-30862">Если закрыт доступ к сайту vkontakte</a></li>
            <li><span class="re">annushka</span> на <a href="/blog/2008/02/19/esli-zakryit-dostup-k-saytu-vkontakte.html#comment-30847">Если закрыт доступ к сайту vkontakte</a></li>
            <li><span class="re">annushka</span> на <a href="/blog/2008/02/19/esli-zakryit-dostup-k-saytu-vkontakte.html#comment-30846">Если закрыт доступ к сайту vkontakte</a></li>
            <li><span class="re">Юля)))</span> на <a href="/blog/2008/02/19/esli-zakryit-dostup-k-saytu-vkontakte.html#comment-30820">Если закрыт доступ к сайту vkontakte</a></li>
            <li><span class="re">Юлечк@</span> на <a href="/blog/2008/02/19/esli-zakryit-dostup-k-saytu-vkontakte.html#comment-30818">Если закрыт доступ к сайту vkontakte</a></li>
            <li><span class="re"><a href='http://zona-i.net' rel='external nofollow' class='url'>denz</a></span> на <a href="/blog/2008/04/20/fotoforum-2k8-vpechatleniya.html#comment-30817">ФотоФорум 2к8. Впечатления</a></li>
            <li><span class="re">summer</span> на <a href="/blog/2009/02/13/sdr-on-line.html#comment-30782">SDR On Line</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clear">
      <p>
        Есть категории
        ({% for category in site.data.categories %}<a href="/category/{{ category.slug }}" rel="category tag">{{ category.name }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}),
        а есть <a href="/cloud/">облака</a>.
      </p>
    </div>
  </div>
</div>
<div id="minipics">
  <h3>: )</h3>
  <ul id="random_re">
  </ul>
  <p>Они совсем случайно показались на первой странице. Если ты хочешь посмотреть на всех нас, то переходи на страницу <a href="/re/">это мы</a>.</p>

  <h3>Скоро День Рождения!</h3>
  <ul id="birthday_re">
  </ul>
</div>

<div id="navigation">
  <p>А сейчас на сайте более 198 Mb <a href="/files/open/">файлов</a>.</p>
</div>

<script type="text/javascript">
  function SortByBirthday(a, b) {
    var aBirthday = a.birthday_sort;
    var bBirthday = b.birthday_sort; 
    return ((aBirthday < bBirthday) ? -1 : ((aBirthday > bBirthday) ? 1 : 0));
  }

  var re = [
    {% for re in site.re %}
      {
        "name"          : "{{ re.name }}",
        "latin_name"    : "{{ re.latin_name }}",
        "birthday"      : "{{ re.birthday }}",
        "birthday_sort" : {{ re.birthday_sort }}
      } {% if forloop.last %}{% else %},{% endif %}
    {% endfor %}
  ]

  /* Random Re */
  re.sort(function() { return 0.5 - Math.random() });
  for (i = 0; i < 4; i++) {
    jQuery("#random_re").append(
      '<li>' +
      '<a href="/re/' + re[i].latin_name + '/" class="img"><img src="/content/re/' + re[i].latin_name + '.jpg" /></a><br />' +
      '<a href="/re/' + re[i].latin_name + '/">' + re[i].name + '</a>' +
      '</li>'
    );
  }

  /* Birthday Re */
  re.sort(SortByBirthday);
  var d = new Date();
  var today = (d.getMonth() + 1) * 100 + d.getDay();
  i = 0; var r = 0;
  while (re[i] && r < 4) {
    if (re[i].birthday_sort < today) { 
      i++;
      continue; 
    }
    jQuery("#birthday_re").append(
      '<li>' +
      '<a href="/re/' + re[i].latin_name + '/" class="img"><img src="/content/re/' + re[i].latin_name + '.jpg" /></a><br />' +
      '<a href="/re/' + re[i].latin_name + '/">' + re[i].birthday + '</a>' +
      '</li>'
    );
    i++; r++;
  }

  i = 0;
  while(r < 4) {
    jQuery("#birthday_re").append(
      '<li>' +
      '<a href="/re/' + re[i].latin_name + '/" class="img"><img src="/content/re/' + re[i].latin_name + '.jpg" /></a><br />' +
      '<a href="/re/' + re[i].latin_name + '/">' + re[i].birthday + '</a>' +
      '</li>'
    );
    i++; r++;
  }
</script>
