<head profile="http://gmpg.org/xfn/11">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{% if page.title %}{{ page.title }} | {% endif %}Regruppa</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
  <meta name="verify-v1" content="ra1FN/+PLSPCHMcna+X0hdsUUCDrMh4WaSl7ScNDCLM=" >

  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/css/gallery.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/css/codecolorer/codecolorer.css" type="text/css" media="screen" />
  <style type="text/css">border: 1px solid #ccc; background: #eee; padding: 5px; margin: 10px;</style>
  <link rel='stylesheet' id='open-sans-css'  href='https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext%2Ccyrillic%2Ccyrillic-ext&#038;ver=4.3.1' type='text/css' media='all' />

  <script type="text/javascript" src="/js/nifty_n_nav.js"></script>
  <script type='text/javascript' src='/js/jquery.js'></script>
  <script type='text/javascript' src='/js/spoiler.js'></script>
  <script type='text/javascript' src='/js/smilies.js'></script>
</head>
