<div id="top">
	<a href="/">
    <img src="/images/top.gif" alt="Радиофизика и электроника" />
  </a>
</div>

<div id="nav">
  <ul>
    <li>
      <a href="/re/" onmouseover="mOver('navWe');this.style.cursor='hand';" onmouseout="mOut('navWe');">
        <img name="navWe" src="/images/nav/we.gif" alt="это мы!" />
      </a>
    </li>
    <li>
      <a href="/media/" onmouseover="mOver('navMedia');this.style.cursor='hand';" onmouseout="mOut('navMedia');">
        <img name="navMedia" src="/images/nav/media.gif" alt="медиа" />
      </a>
    </li>
    <li>
      <a href="/chronicle/" onmouseover="mOver('navChronicle');this.style.cursor='hand';" onmouseout="mOut('navChronicle');">
        <img name="navChronicle" src="/images/nav/chronicle.gif" alt="летопись" />
      </a>
    </li>
    <li>
      <a href="/files/" onmouseover="mOver('navFiles');this.style.cursor='hand';" onmouseout="mOut('navFiles');">
        <img name="navFiles" src="/images/nav/files.gif" alt="файлы" />
      </a>
    </li>
    <li>
      <a href="/etc/" onmouseover="mOver('navEtc');this.style.cursor='hand';" onmouseout="mOut('navEtc');">
        <img name="navEtc" src="/images/nav/etc.gif" alt="и т.д." />
      </a>
    </li>
  </ul>
</div>
