---
layout: default
---
<h1><a href="/chronicle/">Летопись</a> / Буквы</h1>
<p>
  Это блог. Место, где куча записей совершенно разного характера и содержания. 
  Могут быть и файлы, могут быть и размышения. Чтобы было проще, можно либо ориентироваться в категориях 
  ({% for category in site.data.categories %}<a href="/category/{{ category.slug }}" rel="category tag">{{ category.name }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}),
  либо улететь в <a href="/cloud/">облака</a>.
</p>

{% for post in paginator.posts %}
  {% include post.html %}
{% endfor %}

<div id="navigation">
  {% if paginator.next_page %}
    <div class="alignleft">
      <a href="{{ paginator.next_page_path }}" class="previous">« Раньше</a>
    </div>
  {% endif %}

  {% if paginator.previous_page %}
    <div class="alignright">
      <a href="{{ paginator.previous_page_path }}" class="next">Позже »</a>
    </div>
  {% endif %}
</div>

{% include imprint.html %}
