<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include nav.html %}

    <div id="center">
	    <img src="/images/center.gif" />
    </div>

    <div id="content">
      <div id="search-box">
        <form action="https://yandex.ru/search/site/" id="searchform" method="get" target="_self">
          <input type="hidden" name="searchid" value="2244677"/>
          <input type="hidden" name="l10n" value="ru"/>
          <input type="hidden" name="reqenc" value=""/>
          <span class="search"><input type="search" name="text" value=""/></span>
        </form>
      </div>

        {{ content }}

    </div>

    {% include footer.html %}

  </body>
</html>
