---
layout: default
---
{% assign album = site.data.albums[page.album] %}
{% for data_photo in album.photos %}
  {% if data_photo.filename == page.filename %}
    {% assign photo = data_photo %}
  {% endif %}
{% endfor %}

<h1>
  <a href="/media/photos">Фотографии</a> 
  / <a href="/media/photos/{{ album.category }}/{{ album.slug }}/">{{ album.name }}</a>
  {% if photo.caption != "" %}/ {{ photo.caption }}{% endif %}
</h1>

<p>{{ photo.description }}</p>

{% if photo %}
  {% if photo.width > 700 %}
    {% assign width = 700 %}
  {% else %}
    {% assign width = photo.width %}
  {% endif %}
  <div class="wp-caption aligncenter" style="width: {{ width | plus: 10 }}px">
    <img src="/content/gallery/00-single/{{ page.filename }}" width="{{ width }}" class="size-full">
    <p class="wp-caption-text">
      {{ page.filename }} | 
      {{ photo.width }}x{{ photo.height }}px | 
      просмотров: {{ photo.hits }}			
    </p>
  </div>
{% else %}
  <p>Фотография не найдена</p>
{% endif %}

{% include comments.html %}
{% include imprint.html %}
