---
layout: default
---
{% assign post = page %}
{% if post.categories.size > 0 %}
  {% for post_category in post.categories %}
    {% for data_category in site.data.categories %}
      {% if data_category.name == post_category %}
        {% assign category = data_category %}
      {% endif %}
    {% endfor %}
      {% if category %}
        {% capture categories_content_temp %}
          <a href="/category/{{ category.slug }}/" rel="category tag">{{ category.name }}</a>{% if forloop.last == false %}, {% endif %}
        {% endcapture %}
          
        {% assign categories_content = categories_content_temp %}
    {% endif %}
  {% endfor %}
{% else %}
  {% assign categories_content = '' %}
{% endif %}

<h1><a href="/chronicle/">Летопись</a> / <a href="/blog/">Буквы</a></h1>
<p>Блог, или буквы. <a href="/cloud/">Облака</a> всё ещё доступны.</p>

<div class="post" id="post-{{ page.wordpress_id }}">
  <div class="title">
    <h2>{{ page.title }}</h2>
  </div>
  <div class="entry">
    <p class="tagcommalist">
      Из облаков: <a href="http://regruppa.ru/tag/9-marta" rel="tag">9-марта</a>, <a href="http://regruppa.ru/tag/maslenica-2008" rel="tag">масленица-2008</a>, <a href="http://regruppa.ru/tag/maslenica-ff" rel="tag">масленица-ФФ</a>, <a href="http://regruppa.ru/tag/fizfak" rel="tag">ФизФак</a>, <a href="http://regruppa.ru/tag/fizfak-yargu" rel="tag">ФизФак-ЯрГУ</a>
    </p>

    {{ content }}

    <p class="postmetadata">
      {{ page.date | date: "%b %-d, %Y" }} @ <span class="re">{{ page.author.display_name }}</span>&nbsp;&nbsp;
      <span class="cat">{{ categories_content }}</span>
    </p>
  </div>
</div>

<div id="commentsbox">
  <h3 id="comments">{{ page.comments.size }} коммент.</h3>
  <div id="blueblock">
    <ul>
      {% for comment in page.comments %}
        <li id="comment-{{ comment.id }}">
          <div class="author">
            <p>{{ comment.author }} @ {{ comment.date | date: "%b %-d, %Y, %H:%M" }}</p>
          </div>

          <div class="text">
            <p>{{ comment.content }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<p class="center">
  <span class="lirss"><a href="/blog/feed/">Записи в RSS</a></span>
</p>
