---
layout: default
---
<h1>
  <a href="/chronicle/">Летопись</a> /
  Из <a href="/cloud/">облака</a> / {{ page.tag }}
</h1>
<p>Это одно из слов, которое было в облаке: все записи со всеми комментариями, отосящиеся только к нему.</p>

<div>
  {% if site.tags[page.tag] %}
    {% for post in site.tags[page.tag] %}
      {% include post.html %}
    {% endfor %}
  {% else %}
    <p>Нет записей в данной рубрике</p>
  {% endif %}
</div>

<p class="center">
  <span class="lirss"><a href="/blog/feed/">Записи в RSS</a></span>
</p>
